In [1]:
%%capture
pip install geopandas

In [1]:
import geopandas as gpd

links_directed = gpd.read_file(r'E:/v423_ONTW_SPM/04 Diverse onderzoeken/34 Gesloten wegvakprobleem/Masternetw/MASTER_2022_20240808_ACT_link.SHP')
links = gpd.read_file(r'E:/v423_ONTW_SPM/04 Diverse onderzoeken/34 Gesloten wegvakprobleem/Masternetw/MASTER_2022_20240808_ACT_notDirected_link.SHP')

print(links_directed.shape, links.shape, links_directed.shape[0] - links.shape[0])

(14070, 9) (12597, 17) 1473

In [2]:
links.columns

Index(['NO', 'FROMNODENO', 'TONODENO', 'TYPENO', 'TSYSSET', 'NUMLANES',
       'VISUEELL~1', 'V_WET', 'R_NO', 'R_FROMNO~2', 'R_TONODENO', 'R_TYPENO',
       'R_TSYSSET', 'R_NUMLANES', 'R_VISUEE~3', 'R_V_WET', 'geometry'],
      dtype='object')

In [3]:
links_directed.columns

Index(['NO', 'FROMNODENO', 'TONODENO', 'TYPENO', 'TSYSSET', 'NUMLANES',
       'VISUEELL~1', 'V_WET', 'geometry'],
      dtype='object')

In [4]:
print(sorted(links['VISUEELL~1'].unique()), sorted(links['R_VISUEE~3'].unique()))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] [0, 1, 2, 3, 4, 5, 6, 8, 9]

In [5]:
print(links_directed['VISUEELL~1'].unique())

[4 1 3 2]

### links directed

In [7]:
non_unique_links_directed = links_directed[links_directed['NO'].duplicated(keep=False)]
non_unique_links_directed

,NO,FROMNODENO,TONODENO,TYPENO,TSYSSET,NUMLANES,VISUEELL~1,V_WET,geometry
2,7,664,1458,11,"BUS,FIETS,PW,VR",1,4,NaN,"LINESTRING (647745.345 694555.199, 647762.172 ..."
3,7,1458,664,11,"BUS,FIETS,PW,VR",2,4,NaN,"LINESTRING (647884.867 694609.670, 647860.328 ..."
34,958,66,793,11,"BUS,FIETS,PW,VR",1,4,NaN,"LINESTRING (655632.137 692451.531, 655663.426 ..."
35,958,793,66,11,"BUS,FIETS,PW,VR",3,4,NaN,"LINESTRING (655663.426 692394.955, 655632.137 ..."
36,965,794,795,11,"BUS,FIETS,PW,VR",1,4,NaN,"LINESTRING (655685.919 692362.901, 655690.114 ..."
...,...,...,...,...,...,...,...,...,...
14031,119405,93256,85287,11,"BUS,FIETS,PW,VR",2,4,NaN,"LINESTRING (649424.794 711973.873, 649421.703 ..."
14038,119442,91735,93274,11,"BUS,FIETS,PW,VR",2,4,NaN,"LINESTRING (655232.886 710693.450, 655254.671 ..."
14039,119442,93274,91735,11,"BUS,FIETS,PW,VR",1,4,NaN,"LINESTRING (655296.116 710792.267, 655295.816 ..."
14040,119443,89634,93274,11,"BUS,FIETS,PW,VR",1,4,NaN,"LINESTRING (655295.125 710897.870, 655296.455 ..."
14041,119443,93274,89634,11,"BUS,FIETS,PW,VR",4,4,NaN,"LINESTRING (655296.116 710792.267, 655296.327 ..."

In [8]:
non_unique_links_directed_in_links = links[links['NO'].isin(non_unique_links_directed['NO'])]
print(non_unique_links_directed_in_links['VISUEELL~1'].unique())
print(non_unique_links_directed_in_links['R_VISUEE~3'].unique())

[4 1 2 3]
[4 1 2 3]

In [9]:
export=False
if export:
    non_unique_links_directed.to_file(r'E:/v423_ONTW_SPM/04 Diverse onderzoeken/34 Gesloten wegvakprobleem/Masternetw/MASTER_2022_20240808_ACT_DUBL_link.SHP')

### links NOT directed

In [10]:
non_unique_links = links[links['NO'].duplicated(keep=False)]
non_unique_links

Empty GeoDataFrame
Columns: [NO, FROMNODENO, TONODENO, TYPENO, TSYSSET, NUMLANES, VISUEELL~1, V_WET, R_NO, R_FROMNO~2, R_TONODENO, R_TYPENO, R_TSYSSET, R_NUMLANES, R_VISUEE~3, R_V_WET, geometry]
Index: []

In [11]:
links_not_vis_hoofd_1 = links[~links['VISUEELL~1'].isin(links_directed['VISUEELL~1'])]
links_not_vis_hoofd_2 = links[~links['R_VISUEE~3'].isin(links_directed['VISUEELL~1'])]

print(links_not_vis_hoofd_1.shape, links_not_vis_hoofd_2.shape)

(5517, 17) (5607, 17)

In [12]:
export2=False
if export2:
    links_not_vis_hoofd_1.to_file(r'E:/v423_ONTW_SPM/04 Diverse onderzoeken/34 Gesloten wegvakprobleem/Masternetw/MASTER_2022_20240808_ACT_notDirected_diffVISL1_link.SHP.SHP')
    links_not_vis_hoofd_2.to_file(r'E:/v423_ONTW_SPM/04 Diverse onderzoeken/34 Gesloten wegvakprobleem/Masternetw/MASTER_2022_20240808_ACT_notDirected_diffVISL2_link.SHP.SHP')

In [13]:
links[
    (links['VISUEELL~1'] == 0)  & (links['R_VISUEE~3'] == 0)
]

Empty GeoDataFrame
Columns: [NO, FROMNODENO, TONODENO, TYPENO, TSYSSET, NUMLANES, VISUEELL~1, V_WET, R_NO, R_FROMNO~2, R_TONODENO, R_TYPENO, R_TSYSSET, R_NUMLANES, R_VISUEE~3, R_V_WET, geometry]
Index: []

### countlocations

In [14]:
count_loc = gpd.read_file(r'E:/v423_ONTW_SPM/04 Diverse onderzoeken/34 Gesloten wegvakprobleem/Masternetw/MASTER_2022_20240808_ACT_countlocation.SHP')
count_loc.shape

(633, 14)

In [15]:
count_loc.columns

Index(['NO', 'CODE', 'NAME', 'FROMNODENO', 'TONODENO', 'LINKNO', 'AWV_CODE~1',
       'AWV_SAME~2', 'RIJRICHT~3', 'SG_ID', 'SG_NAAM', 'TELID_V423',
       'L_VISTYPE', 'geometry'],
      dtype='object')

In [16]:
count_loc[count_loc['LINKNO'].isin(non_unique_links_directed['NO'])].sort_values(by='LINKNO', ascending=True)

,NO,CODE,NAME,FROMNODENO,TONODENO,LINKNO,AWV_CODE~1,AWV_SAME~2,RIJRICHT~3,SG_ID,SG_NAAM,TELID_V423,L_VISTYPE,geometry
206,6361,122402,None,297,793,990,None,None,Brussel,6377003573,oprit Mechelen-Noord vanuit N16 richting Brussel,45,4,POINT (655669.162 692385.956)
323,6484,141803,None,16791,7968,18238,None,None,Brussel,1608011778,None,1344,1,POINT (643224.717 674055.274)
116,6268,119502,None,17709,9475,18966,None,None,buitenring,12610003960,None,1692,4,POINT (646965.631 677127.889)
356,6520,142903,None,8949,8946,22284,None,None,Brussel,4627004635,knoop Leonard richting Brussel (Leonardtunnel ...,1645,1,POINT (656782.924 665624.765)
357,6521,142902,None,8946,8949,22284,None,None,Namen,4634004630,knoop Leonard richting Namen (Leonardtunnel E411),172,1,POINT (656782.924 665624.765)
164,6316,100623,None,13284,12873,22650,None,None,binnenring,1322001708,complex Groenendaal richting binnenring,1637,2,POINT (655275.332 661982.891)
181,6333,142901,None,13308,13316,25021,None,None,buitenring,575004625,None,93,2,POINT (656796.755 665639.310)
182,6334,142904,None,13316,13308,25021,None,None,binnenring,4624000574,knoop Leonard richting binnenring (Leonardtunn...,1350,2,POINT (656796.755 665639.310)
450,120447,130906,None,50003,50002,55672,None,None,Merelbeke,8848008851,tussen af- en oprit Skaldenstraat richting Gen...,901,2,POINT (608348.622 701236.506)
449,120446,130905,None,50002,50003,55672,None,None,Zelzate,8841008849,tussen af- en oprit Skaldenstraat richting Zel...,892,2,POINT (608348.622 701236.506)
587,120771,None,None,50089,50700,59653,None,None,None,None,None,10031,4,POINT (605472.130 689506.934)
588,120772,None,None,50700,50089,59653,None,None,None,None,None,10032,4,POINT (605472.130 689506.934)
616,120856,160911,None,50071,51298,60641,None,None,Zelzate,13432013396,None,842,4,POINT (601222.946 693945.227)
615,120853,160909,None,50076,51299,60644,None,None,Zelzate,13430013393,None,88,4,POINT (601284.466 693876.992)
599,120799,103521,None,51086,52415,62632,None,None,Merelbeke,13172010789,None,1252,2,POINT (605139.788 700623.345)
600,120800,103522,None,52415,51086,62632,None,None,Zelzate,12115013169,None,871,2,POINT (605139.788 700623.345)
468,120492,161203,None,48792,50993,65289,None,None,Merelbeke,13666010136,None,297,2,POINT (607245.291 699408.909)
469,120493,161202,None,50993,48792,65289,None,None,Zelzate,10135010134,tussen af- en oprit Langerbruggestraat richtin...,2290,2,POINT (607245.291 699408.909)
562,120720,160905,None,54054,50065,69459,None,None,Merelbeke,13593013406,None,1668,4,POINT (600991.067 693829.301)
563,120721,160904,None,50065,54054,69459,None,None,Merelbeke,13408013588,afrit N466 (Deinsestwg) naar Gent-Centrum rich...,1894,4,POINT (600991.067 693829.301)

In [17]:
non_unique_links_directed[non_unique_links_directed['NO'].isin(count_loc['LINKNO'])]

,NO,FROMNODENO,TONODENO,TYPENO,TSYSSET,NUMLANES,VISUEELL~1,V_WET,geometry
42,990,297,793,11,"BUS,FIETS,PW,VR",3,4,NaN,"LINESTRING (655675.362 692377.276, 655670.445 ..."
43,990,793,297,11,"BUS,FIETS,PW,VR",1,4,NaN,"LINESTRING (655663.426 692394.955, 655670.445 ..."
1188,18238,7968,16791,1,"BUS,FIETS,PW,VR",2,1,NaN,"LINESTRING (643364.636 673988.505, 643360.628 ..."
1189,18238,16791,7968,1,"BUS,FIETS,PW,VR",2,1,NaN,"LINESTRING (643082.727 674117.503, 643100.302 ..."
1242,18966,9475,17709,11,"BUS,FIETS,PW,VR",2,4,NaN,"LINESTRING (647000.006 676955.506, 646986.646 ..."
1243,18966,17709,9475,11,"BUS,FIETS,PW,VR",2,4,NaN,"LINESTRING (647122.472 677241.121, 647102.118 ..."
1616,22284,8946,8949,2,"BUS,FIETS,PW,VR",3,1,NaN,"LINESTRING (656769.226 665633.783, 656776.268 ..."
1617,22284,8949,8946,1,"BUS,FIETS,PW,VR",2,1,NaN,"LINESTRING (656796.763 665615.966, 656793.146 ..."
1688,22650,12873,13284,6,"BUS,FIETS,PW,VR",2,2,90.0,"LINESTRING (655183.591 661757.381, 655215.955 ..."
1689,22650,13284,12873,6,"BUS,FIETS,PW,VR",2,2,90.0,"LINESTRING (655365.078 662209.212, 655320.561 ..."
1753,25021,13308,13316,6,"BUS,FIETS,PW,VR",2,2,90.0,"LINESTRING (656678.333 665362.266, 656745.794 ..."
1754,25021,13316,13308,6,"BUS,FIETS,PW,VR",2,2,90.0,"LINESTRING (656903.820 665921.005, 656858.878 ..."
3537,55672,50002,50003,6,"BUS,EFIETS,FIETS,PW,VR",2,2,NaN,"LINESTRING (608207.978 701022.003, 608298.664 ..."
3538,55672,50003,50002,6,"BUS,EFIETS,FIETS,PW,VR",2,2,NaN,"LINESTRING (608500.828 701442.982, 608377.865 ..."
3930,59653,50089,50700,11,"BUS,EFIETS,FIETS,PW,VR",1,4,NaN,"LINESTRING (605493.953 689520.581, 605468.963 ..."
3931,59653,50700,50089,11,"BUS,EFIETS,FIETS,PW,VR",2,4,NaN,"LINESTRING (605449.813 689494.115, 605468.963 ..."
4130,60641,50071,51298,11,"BUS,EFIETS,FIETS,PW,VR",1,4,NaN,"LINESTRING (601239.537 693947.755, 601206.356 ..."
4131,60641,51298,50071,11,None,1,4,NaN,"LINESTRING (601206.356 693942.699, 601239.537 ..."
4134,60644,50076,51299,11,"BUS,EFIETS,FIETS,PW,VR",1,4,NaN,"LINESTRING (601300.167 693879.841, 601268.764 ..."
4135,60644,51299,50076,11,None,1,4,NaN,"LINESTRING (601268.764 693874.143, 601300.167 ..."
4177,62632,51086,52415,6,"BUS,EFIETS,FIETS,PW,VR",2,2,NaN,"LINESTRING (605186.587 700960.727, 605185.518 ..."
4178,62632,52415,51086,6,"BUS,EFIETS,FIETS,PW,VR",2,2,NaN,"LINESTRING (605036.058 700298.935, 605054.361 ..."
4306,65289,48792,50993,6,"BUS,EFIETS,FIETS,PW,VR",2,2,NaN,"LINESTRING (607282.325 699514.960, 607250.484 ..."
4307,65289,50993,48792,6,"BUS,EFIETS,FIETS,PW,VR",2,2,NaN,"LINESTRING (607211.516 699301.765, 607250.484 ..."
4520,69459,50065,54054,11,"BUS,EFIETS,FIETS,PW,VR",1,4,NaN,"LINESTRING (601117.558 693836.802, 601094.292 ..."
4521,69459,54054,50065,11,"BUS,EFIETS,FIETS,PW,VR",1,4,NaN,"LINESTRING (600965.618 693829.836, 600971.542 ..."