In [1]:
pip install geopandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: geopandas in c:\users\lucas.demeyer\appdata\roaming\python\python311\site-packages (1.0.1)
Requirement already satisfied: numpy>=1.22 in c:\programdata\anaconda3\lib\site-packages (from geopandas) (1.26.4)
Requirement already satisfied: pyogrio>=0.7.2 in c:\users\lucas.demeyer\appdata\roaming\python\python311\site-packages (from geopandas) (0.10.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from geopandas) (23.1)
Requirement already satisfied: pandas>=1.4.0 in c:\programdata\anaconda3\lib\site-packages (from geopandas) (2.1.4)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\lucas.demeyer\appdata\roaming\python\python311\site-packages (from geopandas) (3.7.1)
Requirement already satisfied: shapely>=2.0.0 in c:\users\lucas.demeyer\appdata\roaming\python\python311\site-packages (from geopandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2023.3)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from pyogrio>=0.7.2->geopandas) (2024.2.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->geopandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import geopandas as gpd

In [3]:

nodes = gpd.read_file(r'E:/v423_ONTW_SPM/04 Diverse onderzoeken/34 Gesloten wegvakprobleem/Masternetw/MASTER_2022_20240808_ACT_node.SHP')
links = gpd.read_file(r'E:/v423_ONTW_SPM/04 Diverse onderzoeken/34 Gesloten wegvakprobleem/Masternetw/MASTER_2022_20240808_ACT_link.SHP')
count_loc = gpd.read_file(r'E:/v423_ONTW_SPM/04 Diverse onderzoeken/34 Gesloten wegvakprobleem/Masternetw/MASTER_2022_20240808_ACT_countlocation.SHP')

print(nodes.shape, links.shape, count_loc.shape)

(11045, 17) (14070, 9) (633, 14)

In [4]:
"""
nodes = gpd.read_file(r'E:\v423_ONTW_SPM\04 Diverse onderzoeken\34 Gesloten wegvakprobleem\GIS\shp\nodes_uitsnede.gpkg')
links = gpd.read_file(r'E:\v423_ONTW_SPM\04 Diverse onderzoeken\34 Gesloten wegvakprobleem\GIS\shp\links_uitsnede.gpkg')
count_loc = gpd.read_file(r'E:\v423_ONTW_SPM\04 Diverse onderzoeken\34 Gesloten wegvakprobleem\GIS\shp\count_uitsnede.gpkg')

print(nodes.shape, links.shape, count_loc.shape)
"""

"\nnodes = gpd.read_file(r'E:\x0b423_ONTW_SPM\x04 Diverse onderzoeken\x1c Gesloten wegvakprobleem\\GIS\\shp\nodes_uitsnede.gpkg')\nlinks = gpd.read_file(r'E:\x0b423_ONTW_SPM\x04 Diverse onderzoeken\x1c Gesloten wegvakprobleem\\GIS\\shp\\links_uitsnede.gpkg')\ncount_loc = gpd.read_file(r'E:\x0b423_ONTW_SPM\x04 Diverse onderzoeken\x1c Gesloten wegvakprobleem\\GIS\\shp\\count_uitsnede.gpkg')\n\nprint(nodes.shape, links.shape, count_loc.shape)\n"

### Nodes

In [5]:
nodes.columns

Index(['NO', 'CODE', 'NAME', 'CONTROLT~1', 'FIXSIGNA~2', 'STUDIEGE~3',
       'L_IN_NO', 'L_IN_F_NO', 'L_IN_T_NO', 'L_IN_VIS', 'L_IN_VWET',
       'L_OUT_NO', 'L_OUT_F_NO', 'L_OUT_T_NO', 'L_OUT_VIS', 'L_OUT_VWET',
       'geometry'],
      dtype='object')

In [6]:
nodes = nodes[['NO', 'CODE', 'L_IN_NO', 'L_IN_F_NO', 'L_IN_T_NO', 'L_IN_VIS', 'L_IN_VWET',
       'L_OUT_NO', 'L_OUT_F_NO', 'L_OUT_T_NO', 'L_OUT_VIS', 'L_OUT_VWET',]]
nodes

,NO,CODE,L_IN_NO,L_IN_F_NO,L_IN_T_NO,L_IN_VIS,L_IN_VWET,L_OUT_NO,L_OUT_F_NO,L_OUT_T_NO,L_OUT_VIS,L_OUT_VWET
0,4,None,91,674,4,4,None,None,None,None,None,None
1,5,None,None,None,None,None,None,78,5,1430,4,None
2,6,None,2562,74,6,4,None,2047,6,810,4,None
3,9,None,446,358,9,4,None,796,9,360,4,None
4,39,None,"1943,2509","1210,1452",39,4,None,"1943,2005",39,"1210,1454",4,None
...,...,...,...,...,...,...,...,...,...,...,...,...
11040,93449,None,9715,7385,93449,1,None,119699,93449,91892,1,None
11041,93451,None,9720,4868,93451,1,None,119701,93451,91933,1,None
11042,93452,None,119702,92789,93452,1,None,9721,93452,5203,1,None
11043,93456,None,119706,91852,93456,1,None,9734,93456,5164,1,None
11044,93473,None,109035,75675,93473,1,None,119722,93473,92381,1,None

In [7]:
nodes[nodes.duplicated(subset=['NO'], keep=False)]

Empty DataFrame
Columns: [NO, CODE, L_IN_NO, L_IN_F_NO, L_IN_T_NO, L_IN_VIS, L_IN_VWET, L_OUT_NO, L_OUT_F_NO, L_OUT_T_NO, L_OUT_VIS, L_OUT_VWET]
Index: []

### Links

In [10]:
links.columns
links

,NO,FROMNODENO,TONODENO,TYPENO,TSYSSET,NUMLANES,VISUEELL~1,V_WET,geometry
0,2,302,805,11,"BUS,FIETS,PW,VR",4,4,NaN,"LINESTRING (656084.017 693089.769, 656066.497 ..."
1,4,450,308,11,"BUS,FIETS,PW,VR",1,4,NaN,"LINESTRING (656906.921 688040.541, 656888.69 6..."
2,7,664,1458,11,"BUS,FIETS,PW,VR",1,4,NaN,"LINESTRING (647745.345 694555.199, 647762.172 ..."
3,7,1458,664,11,"BUS,FIETS,PW,VR",2,4,NaN,"LINESTRING (647884.867 694609.67, 647860.328 6..."
4,8,795,792,11,"BUS,FIETS,PW,VR",1,4,NaN,"LINESTRING (655690.114 692357.27, 655726.659 6..."
...,...,...,...,...,...,...,...,...,...
14065,119702,92789,93452,1,"BUS,FIETS,PW,VR",2,1,NaN,"LINESTRING (673985.783 714923.558, 674074.719 ..."
14066,119706,91852,93456,1,"BUS,FIETS,PW,VR",2,1,NaN,"LINESTRING (669422.401 709197.621, 669511.291 ..."
14067,119722,93473,92381,1,"BUS,FIETS,PW,TRA,VR",2,1,NaN,"LINESTRING (645055.797 747352.979, 645066.748 ..."
14068,119723,92382,85088,1,"BUS,FIETS,PW,TRA,VR",2,1,NaN,"LINESTRING (645874.761 744758.113, 645886.477 ..."
14069,374990,7858,64725,1,"BUS,FIETS,PW,TRA,VR",2,1,NaN,"LINESTRING (735386.086 724523.298, 736118.517 ..."

In [11]:
links[links['TSYSSET'].isna()]

,NO,FROMNODENO,TONODENO,TYPENO,TSYSSET,NUMLANES,VISUEELL~1,V_WET,geometry
3511,53888,42304,43535,11,None,1,4,NaN,"LINESTRING (600874.056 685916.965, 600875.653 ..."
3530,55661,44986,42213,11,None,1,4,NaN,"LINESTRING (593351.204 683298.262, 593345.558 ..."
3793,59196,50067,50065,11,None,1,4,NaN,"LINESTRING (601144.964 693839.299, 601117.558 ..."
4131,60641,51298,50071,11,None,1,4,NaN,"LINESTRING (601206.356 693942.699, 601239.537 ..."
4132,60642,50069,51298,11,None,1,4,NaN,"LINESTRING (601185.967 693945.56, 601206.356 6..."
4135,60644,51299,50076,11,None,1,4,NaN,"LINESTRING (601268.764 693874.143, 601300.167 ..."
4136,60645,50072,51299,11,None,1,4,NaN,"LINESTRING (601251.82 693876.374, 601268.764 6..."
4676,72025,54441,54326,11,None,1,4,NaN,"LINESTRING (626080.936 697528.298, 626071.813 ..."

In [13]:
links[links.duplicated(subset=['NO', 'FROMNODENO', 'TONODENO'], keep=False)]

Empty GeoDataFrame
Columns: [NO, FROMNODENO, TONODENO, TYPENO, TSYSSET, NUMLANES, VISUEELL~1, V_WET, geometry]
Index: []

### Count loc

In [14]:
count_loc.columns

Index(['NO', 'CODE', 'NAME', 'FROMNODENO', 'TONODENO', 'LINKNO', 'AWV_CODE~1',
       'AWV_SAME~2', 'RIJRICHT~3', 'SG_ID', 'SG_NAAM', 'TELID_V423',
       'L_VISTYPE', 'geometry'],
      dtype='object')

In [17]:
count_loc = count_loc[['NO', 'CODE', 'NAME', 'FROMNODENO', 'TONODENO', 'LINKNO', 'SG_ID', 'SG_NAAM', 'L_VISTYPE']]
#variabele 'code' en 'SG_ID' is gelinkt met data vc --> hoe ??? Geokijker code == meetlussen?
count_loc

,NO,CODE,NAME,FROMNODENO,TONODENO,LINKNO,SG_ID,SG_NAAM,L_VISTYPE
0,6115,120708,None,301,797,2563,6346003507,oprit Mechelen-Noord vanuit R6 richting Brussel,3
1,6119,117806,None,5168,5171,7777,478002821,None,4
2,6122,120701,None,801,807,29,3510012591,None,1
3,6125,126501,None,5454,5456,7842,3054003722,complex Turnhout-Centrum richting Eindhoven (Nl),1
4,6127,101106,None,5713,5066,8144,3771005684,oprit Retie richting Eindhoven (Nl),4
...,...,...,...,...,...,...,...,...,...
628,120878,160908,None,50075,52321,62459,13391013428,afrit N466 (Drongensestwg) naar Gent-Centrum r...,4
629,120879,160601,None,52338,50059,62488,13575011063,None,4
630,120882,160605,None,52311,47507,62432,13100013570,afrit N9 (Brugsevaart) richting Zelzate,4
631,120891,116302,None,47386,50167,59299,1359002467,oprit St-Denijs van N43 St-Martens-Latem richt...,4
632,120893,145402,None,49968,51073,60270,13129005343,None,1

In [16]:
count_loc[count_loc.duplicated(subset=['NO'], keep=False)]

Empty GeoDataFrame
Columns: [NO, CODE, NAME, FROMNODENO, TONODENO, LINKNO, AWV_CODE~1, AWV_SAME~2, RIJRICHT~3, SG_ID, SG_NAAM, TELID_V423, L_VISTYPE, geometry]
Index: []

### Wegvakken identificeren (uitsnede)

In [23]:
links['VISUEELL~1'].unique()

array([4, 1, 3, 2])