### ALG

In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

nodes = gpd.read_file(r'E:/v423_ONTW_SPM/04 Diverse onderzoeken/34 Gesloten wegvakprobleem/Masternetw/MASTER_2022_20240808_ACT_node.SHP')
links = gpd.read_file(r'E:/v423_ONTW_SPM/04 Diverse onderzoeken/34 Gesloten wegvakprobleem/Masternetw/MASTER_2022_20240808_ACT_link.SHP')
count = gpd.read_file(r'E:\v423_ONTW_SPM\04 Diverse onderzoeken\34 Gesloten wegvakprobleem\Masternetw/MASTER_2022_20240808_ACT_countlocation_2_countlocation.SHP')

print(nodes.shape, links.shape, count.shape)

(11045, 17) (14070, 9) (633, 36)

In [2]:
export = False

In [3]:
#links = links.explode(index_parts=False)  # niet nodig, splits multilinestrings
links

,NO,FROMNODENO,TONODENO,TYPENO,TSYSSET,NUMLANES,VISUEELL~1,V_WET,geometry
0,2,302,805,11,"BUS,FIETS,PW,VR",4,4,NaN,"LINESTRING (656084.017 693089.769, 656066.497 ..."
1,4,450,308,11,"BUS,FIETS,PW,VR",1,4,NaN,"LINESTRING (656906.921 688040.541, 656888.69 6..."
2,7,664,1458,11,"BUS,FIETS,PW,VR",1,4,NaN,"LINESTRING (647745.345 694555.199, 647762.172 ..."
3,7,1458,664,11,"BUS,FIETS,PW,VR",2,4,NaN,"LINESTRING (647884.867 694609.67, 647860.328 6..."
4,8,795,792,11,"BUS,FIETS,PW,VR",1,4,NaN,"LINESTRING (655690.114 692357.27, 655726.659 6..."
...,...,...,...,...,...,...,...,...,...
14065,119702,92789,93452,1,"BUS,FIETS,PW,VR",2,1,NaN,"LINESTRING (673985.783 714923.558, 674074.719 ..."
14066,119706,91852,93456,1,"BUS,FIETS,PW,VR",2,1,NaN,"LINESTRING (669422.401 709197.621, 669511.291 ..."
14067,119722,93473,92381,1,"BUS,FIETS,PW,TRA,VR",2,1,NaN,"LINESTRING (645055.797 747352.979, 645066.748 ..."
14068,119723,92382,85088,1,"BUS,FIETS,PW,TRA,VR",2,1,NaN,"LINESTRING (645874.761 744758.113, 645886.477 ..."
14069,374990,7858,64725,1,"BUS,FIETS,PW,TRA,VR",2,1,NaN,"LINESTRING (735386.086 724523.298, 736118.517 ..."

In [4]:
nodes = nodes[['NO', 'CODE', 'L_IN_NO', 'L_IN_F_NO', 'L_IN_T_NO', 'L_IN_VIS', 'L_IN_VWET',
       'L_OUT_NO', 'L_OUT_F_NO', 'L_OUT_T_NO', 'L_OUT_VIS', 'L_OUT_VWET', 'STUDIEGE~3', 'geometry']]

nodes = nodes[nodes['STUDIEGE~3'] <= 2]
nodes

,NO,CODE,L_IN_NO,L_IN_F_NO,L_IN_T_NO,L_IN_VIS,L_IN_VWET,L_OUT_NO,L_OUT_F_NO,L_OUT_T_NO,L_OUT_VIS,L_OUT_VWET,STUDIEGE~3,geometry
0,4,None,91,674,4,4,None,None,None,None,None,None,1.0,POINT (648166.282 694367.95)
1,5,None,None,None,None,None,None,78,5,1430,4,None,1.0,POINT (648184.501 694362.916)
2,6,None,2562,74,6,4,None,2047,6,810,4,None,1.0,POINT (656672.944 693152.319)
3,9,None,446,358,9,4,None,796,9,360,4,None,1.0,POINT (659684.222 693411.552)
4,39,None,"1943,2509","1210,1452",39,4,None,"1943,2005",39,"1210,1454",4,None,1.0,POINT (647634.467 693199.01)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11023,93268,None,119429,86987,93268,4,None,119430,93268,89540,4,None,1.0,POINT (655165.119 713239.413)
11024,93274,None,"119442,119443","89634,91735",93274,4,None,"119442,119443",93274,"89634,91735",4,None,1.0,POINT (655296.116 710792.267)
11025,93298,None,"116684,119487","88803,88850",93298,4,None,119493,93298,93300,4,None,1.0,POINT (651119.441 710125.841)
11026,93299,None,119488,88830,93299,4,None,"119489,119490",93299,"88851,91553",4,None,1.0,POINT (651146.241 710075.438)
11027,93300,None,"119491,119493","88851,93298",93300,4,None,119492,93300,87095,4,None,1.0,POINT (651143.205 710238.648)

In [5]:
count = count[['NO', 'CODE', 'NAME', 'FROMNODENO', 'TONODENO', 'LINKNO', 'OMSCHRIJ~3',
       'SG_ID', 'SG_NAAM', 'TELID_V423', 'TELTYPE', 'TEL_PAE', 'TEL_PW_07', 'TEL_PW_08',
       'TEL_PW_09', 'TEL_PW_16', 'TEL_PW_17', 'TEL_PW_18', 'TEL_PW_ETM',
       'TEL_VR_07', 'TEL_VR_08', 'TEL_VR_09', 'TEL_VR_16', 'TEL_VR_17',
       'TEL_VR_18', 'TEL_VR_ETM', 'geometry']]
count

,NO,CODE,NAME,FROMNODENO,TONODENO,LINKNO,OMSCHRIJ~3,SG_ID,SG_NAAM,TELID_V423,...,TEL_PW_18,TEL_PW_ETM,TEL_VR_07,TEL_VR_08,TEL_VR_09,TEL_VR_16,TEL_VR_17,TEL_VR_18,TEL_VR_ETM,geometry
0,6115,120708,None,301,797,2563,oprit Mechelen-Noord (van R6),6346003507,oprit Mechelen-Noord vanuit R6 richting Brussel,2086,...,514.0,8604,91,67,68.0,51,36,27.0,1201,POINT (655907.1 692570.859)
1,6119,117806,None,5168,5171,7777,oprit Herentals-Industrie,478002821,None,1648,...,192.0,3278,43,52,54.0,41,28,20.0,673,POINT (680165.734 705784.772)
2,6122,120701,None,801,807,29,hoofdrijbaan,3510012591,None,1690,...,3058.0,39795,444,379,523.0,454,360,313.0,8362,POINT (656031.623 692796.39)
3,6125,126501,None,5454,5456,7842,hoofdrijbaan,3054003722,complex Turnhout-Centrum richting Eindhoven (Nl),495,...,985.0,14455,275,252,306.0,401,356,319.0,6287,POINT (690286.363 721066.747)
4,6127,101106,None,5713,5066,8144,oprit Retie,3771005684,oprit Retie richting Eindhoven (Nl),833,...,66.0,1569,17,17,19.0,16,14,8.0,258,POINT (700694.398 720740.148)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,120878,160908,None,50075,52321,62459,afrit N466 Deinsesteenweg (Gent),13391013428,afrit N466 (Drongensestwg) naar Gent-Centrum r...,1542,...,702.0,7894,22,23,22.0,12,8,6.0,226,POINT (601282.027 693849.069)
629,120879,160601,None,52338,50059,62488,oprit N9 Mariakerke/Eeklo,13575011063,None,922,...,442.0,6685,40,45,46.0,34,24,14.0,608,POINT (601028.921 697539.038)
630,120882,160605,None,52311,47507,62432,afrit N9 Mariakerke/Eeklo,13100013570,afrit N9 (Brugsevaart) richting Zelzate,1933,...,620.0,7451,55,48,52.0,38,28,25.0,693,POINT (600977.848 697450.314)
631,120891,116302,None,47386,50167,59299,oprit St-Denijs (N43 St-Marten-Latem),1359002467,oprit St-Denijs van N43 St-Martens-Latem richt...,1194,...,552.0,6861,20,24,28.0,23,19,12.0,334,POINT (601893.665 690164.262)
632,120893,145402,None,49968,51073,60270,hoofdrijbaan,13129005343,None,1302,...,2308.0,28936,633,580,634.0,632,536,456.0,10185,POINT (604934.189 689205.353)

In [6]:
links.dtypes

NO               int32
FROMNODENO       int32
TONODENO         int32
TYPENO          object
TSYSSET         object
NUMLANES         int32
VISUEELL~1       int32
V_WET          float64
geometry      geometry
dtype: object

In [7]:
nodes.dtypes

NO               int32
CODE            object
L_IN_NO         object
L_IN_F_NO       object
L_IN_T_NO       object
L_IN_VIS        object
L_IN_VWET       object
L_OUT_NO        object
L_OUT_F_NO      object
L_OUT_T_NO      object
L_OUT_VIS       object
L_OUT_VWET      object
STUDIEGE~3     float64
geometry      geometry
dtype: object

In [8]:
count.dtypes

NO               int32
CODE            object
NAME            object
FROMNODENO       int32
TONODENO         int32
LINKNO           int32
OMSCHRIJ~3      object
SG_ID           object
SG_NAAM         object
TELID_V423       int32
TELTYPE         object
TEL_PAE          int32
TEL_PW_07        int32
TEL_PW_08        int32
TEL_PW_09      float64
TEL_PW_16        int32
TEL_PW_17        int32
TEL_PW_18      float64
TEL_PW_ETM       int32
TEL_VR_07        int32
TEL_VR_08        int32
TEL_VR_09      float64
TEL_VR_16        int32
TEL_VR_17        int32
TEL_VR_18      float64
TEL_VR_ETM       int32
geometry      geometry
dtype: object

### Merge links - count obv link-no

In [9]:
links = links.merge(
    count[['LINKNO', 'FROMNODENO', 'TONODENO', 'NO', 'CODE', 'SG_ID', 'TEL_PW_ETM', 'TEL_VR_ETM']],
    left_on=['NO', 'FROMNODENO', 'TONODENO'],
    right_on=['LINKNO', 'FROMNODENO', 'TONODENO'],
    how='left',
    suffixes=('', '_count')
)

In [10]:
print(links[links['TEL_PW_ETM'].notna()].shape)
print(links.shape)

(633, 15)
(14070, 15)

In [12]:
links.columns

Index(['NO', 'FROMNODENO', 'TONODENO', 'TYPENO', 'TSYSSET', 'NUMLANES',
       'VISUEELL~1', 'V_WET', 'geometry', 'LINKNO', 'NO_count', 'CODE',
       'SG_ID', 'TEL_PW_ETM', 'TEL_VR_ETM'],
      dtype='object')

### Algoritme

In [14]:
links = links.rename(columns={'FROMNODENO': 'from_node', 'TONODENO': 'to_node'}) # zo in gpt
links.columns

Index(['NO', 'from_node', 'to_node', 'TYPENO', 'TSYSSET', 'NUMLANES',
       'VISUEELL~1', 'V_WET', 'geometry', 'LINKNO', 'NO_count', 'CODE',
       'SG_ID', 'TEL_PW_ETM', 'TEL_VR_ETM'],
      dtype='object')

In [ ]:
import networkx as nx
G = nx.DiGraph()  # Gerichte graaf voor het netwerk:contentReference[oaicite:3]{index=3}.
for idx, row in links.iterrows():
    u = row['from_node']
    v = row['to_node']
    G.add_node(u)
    G.add_node(v)
    # Voeg de link (boog) toe met attributen: type en index
    G.add_edge(u, v, id=idx, type=row['VISUEELL~1'])